<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2G-Life -> index</title>
    <style>
        body {
            margin: 0;
        }

        img {
            vertical-align: -10%;
            border: none;
        }
        .cat {
            padding: 3px;
            background: #E6F3FF;
        }
        .icon-img {
            margin: 0 5px;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <div>
        <h1>2G-Life</h1>
    </div>

    <!-- Body -->
    <p>生成一些适合现代非智能机阅读的内容，使您的按键机再次伟大！</p>
    <div class="cat">
        <img class="icon-img" src="./img/cat-cloud_with_snow_3d.png"  alt=""/>
        <strong>[生活服务]</strong>
    </div>
    <a href="#">和风天气</a>&nbsp;
    <a href="#">头条新闻</a>&nbsp;
    <a href="#">微博热搜</a><br>
    <a href="#">星座运势</a>&nbsp;
    <a href="#">Pixiv热门</a>&nbsp;
    <a href="#">铃声下载</a>
    <div class="cat">
        <img class="icon-img" src="./img/cat-cookie_3d.png"  alt=""/>
        <strong>[社交媒体]</strong>
    </div>
    <img class="icon-img" src="img/zhihu.png" alt="">
    <a href="#">知乎日报</a><br>

    <!-- Footer -->
    <div>
        <%- include('./footer.ejs', time, ip)%>
    </div>
</body>

<footer>

</footer>
</html>
