<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2G_Life - index</title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <div>
        <%- include('./header.ejs')%>
    </div>

    <!-- Body -->
    <p>生成一些适合现代非智能机阅读的内容，使您的按键机再次伟大</p>

    <!-- Footer -->
    <div>
        <%- include('./footer.ejs', time)%>
    </div>
</body>

<footer>
    
</footer>
</html>